.welcome-section {
    background-color: #dbe3f5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 60vh; // Move content further down
  
    .welcome-circle {
      background-color: white;
      border-radius: 50%;
      width: 25rem; // Increase width for a larger circle
      height: 23rem; // Increase height for a larger circle
      padding: 1rem;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  
      .welcome-text {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
        text-align: center;
      }
  
      .subtext {
        font-size: 1rem;
        margin-bottom: 2rem;
      }
  
      .get-started-btn {
        display: block;
        margin-left: auto;
        margin-right: auto;
        color: $color-white;
        margin-top: 2vh;
        width: 50vw;
        height: 7vh;
        border-radius: 25px;
        background-color: $color-main;
      }
  
      &::after {
        content: "";
        position: absolute;
        top: -2.5rem;
        left: -2.5rem;
        width: calc(100% + 5rem);
        height: calc(100% + 5rem);
        border-radius: 50%;
        border: 2px solid white;
      }
    }
  }
  