.center-button {
    display: block;
    margin: 0 auto;
  }

.BigBlackButton{
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: $color-white;
  margin-top: 2vh;
  width: 89vw;
  height: 7vh;
  border-radius: 25px;
  background-color: $color-main;
}


@media (min-width: 768px) {
  .BigBlackButton {
    width: 20vw; /* Width for desktop devices */
  }
}
