.Placeholder187x187 {
    box-sizing: border-box;
    opacity: 0.400;
    width: 187px;
    height: 187px;
    background-color: #171c31;
    color: white;
    border: 1px solid magenta;
  }
  
  .Placeholder375x170 {
    box-sizing: border-box;
    opacity: 0.400;
    width: 374px; //Ändrade 375px->374px för att kunna dela på två.
    height: 170px;
    background-color: #171c31;
    color: white;
    border: 1px solid orangered;
  }