.SocialMediaPartialClass{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

@media (min-width: 768px) { //Måste fixas lite mer med
    .SocialMediaPartialClass {
      width: 20%; 
    }    
  }