.Search-Container {
    display: flex;
    flex-wrap: wrap;
    width: 375px;
    margin: 0 auto;
    flex-direction: column;
}

.CategoryRowContainer {
    display: flex;
    flex-direction: row;
}

.CategoriesScrollable {
    color: red;
}

.ScrollingCategories {
    width: 375px;
    height: 99px;
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
}

.ScrollingCategories div {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 30%;
    background-color: wheat;
    height: 100%;
    margin: 0 0.25%;
}

.ScrollingCategories::-webkit-scrollbar {
    display: none;
}

.testScroll::-webkit-scrollbar {
    display: none;
}