/*Colors*/
$color-main: #111111;
$color-text: #626262;
$color-red: #F4303C;
$color-white: #FFFFFF;
$color-yellow: #FFBE00;
$color-grey: #B3B9C7;
$color-bluegrey: #DBE3F5;
$color-black: #000000;
$color-green: #00824B;

